*{
    padding: 0;
    margin: 0;
    font-family: system-ui;
    background: black;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.clock{
    color: aqua;
    font-size: 150px;
    
}